<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string>selectView_sort_hot</string>
			<key>title</key>
			<string>最热</string>
			<key>subTitle</key>
			<string>432</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>selectView_food</string>
			<key>title</key>
			<string>美食</string>
			<key>subTitle</key>
			<string>321</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>selectView_shop</string>
			<key>title</key>
			<string>逛店</string>
			<key>subTitle</key>
			<string>31</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>selectView_activity</string>
			<key>title</key>
			<string>活动</string>
			<key>subTitle</key>
			<string>23</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>selectView_lesure</string>
			<key>title</key>
			<string>休闲</string>
			<key>subTitle</key>
			<string>42</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>selectView_trip</string>
			<key>title</key>
			<string>周边游</string>
			<key>subTitle</key>
			<string>12</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>selectView_trip</string>
			<key>title</key>
			<string>北京路</string>
			<key>subTitle</key>
			<string>11</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>selectView_trip</string>
			<key>title</key>
			<string>上海路</string>
			<key>subTitle</key>
			<string>12</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>selectView_trip</string>
			<key>title</key>
			<string>维尼的小熊</string>
			<key>subTitle</key>
			<string>22</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>selectView_trip</string>
			<key>title</key>
			<string>杭州路</string>
			<key>subTitle</key>
			<string>3123</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>selectView_trip</string>
			<key>title</key>
			<string>西单/维尼</string>
			<key>subTitle</key>
			<string>2223</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>selectView_trip</string>
			<key>title</key>
			<string>东单/手打</string>
			<key>subTitle</key>
			<string>22</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>selectView_trip</string>
			<key>title</key>
			<string>维尼的小熊</string>
			<key>subTitle</key>
			<string>12</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>selectView_trip</string>
			<key>title</key>
			<string>维尼的小熊</string>
			<key>subTitle</key>
			<string>12</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>selectView_trip</string>
			<key>title</key>
			<string>维尼的小熊</string>
			<key>subTitle</key>
			<string>12</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>selectView_trip</string>
			<key>title</key>
			<string>维尼的小熊</string>
			<key>subTitle</key>
			<string>12</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>selectView_trip</string>
			<key>title</key>
			<string>周边游</string>
			<key>subTitle</key>
			<string>12</string>
		</dict>
	</array>
</array>
</plist>
