<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>color</key>
		<string>9778f0</string>
		<key>tag_name</key>
		<string>周末必去活动</string>
		<key>section_count</key>
		<string>26个精选</string>
		<key>body</key>
		<array>
			<dict>
				<key>section_title</key>
				<string>童年女神樱桃小丸子25周年特展</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/dafb3464-3dcc-4994-874a-ca78e40538b3</string>
				<key>fav_count</key>
				<string>23</string>
				<key>poi_name</key>
				<string>樱桃小丸子25周年博览会</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>夏日相约斑马周末市集</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/5088440a-a240-4deb-908a-39e8dfc6c6d5</string>
				<key>fav_count</key>
				<string>333</string>
				<key>poi_name</key>
				<string>斑马书店&quot;</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>百分百巴黎的建筑学</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/1e25be24-78a0-4afb-8cf0-55dc70af7fa5</string>
				<key>fav_count</key>
				<string>246</string>
				<key>poi_name</key>
				<string>法国文化中心</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>穿越时空去和白雪公主玩耍</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/8160d58c-7270-490e-b214-4fddb3109d1b</string>
				<key>fav_count</key>
				<string>443</string>
				<key>poi_name</key>
				<string>北京apm购物中心&quot;</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>36d4a2</string>
		<key>tag_name</key>
		<string>新开张</string>
		<key>section_count</key>
		<string>21个新店速递</string>
		<key>body</key>
		<array>
			<dict>
				<key>section_title</key>
				<string>五道口最地道的宁夏酿皮肉夹馍</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/4bf1a71a-62ba-410a-b3d0-72ef0d118dd0</string>
				<key>fav_count</key>
				<string>254</string>
				<key>poi_name</key>
				<string>难得馍糊</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>慢火细炖8小时的精致牛肉浓汤面</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/311a5954-db7b-454a-a702-ce8b13eddd3d</string>
				<key>fav_count</key>
				<string>274</string>
				<key>poi_name</key>
				<string>然面</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>给你个预兆邂逅一杯好咖啡</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/699f7d95-1e2d-4d82-a5ed-8b865677ff6b</string>
				<key>fav_count</key>
				<string>1156</string>
				<key>poi_name</key>
				<string>A.omen Cafe&amp;Bar</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>fc6c54</string>
		<key>tag_name</key>
		<string>美妙下午茶</string>
		<key>section_count</key>
		<string>23个心水之选</string>
		<key>body</key>
		<array>
			<dict>
				<key>section_title</key>
				<string>复古工业风的蛋糕后花园</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/f7f4db22-8d1f-46e4-8188-7c06f238ad81</string>
				<key>fav_count</key>
				<string>23</string>
				<key>poi_name</key>
				<string>JARDIN DES GATEAUX   蛋糕花园(工体店)</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>798露台上的摩登芝士</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/3cf57ee9-8698-48c2-98fb-88cc0b8c27a0</string>
				<key>fav_count</key>
				<string>102</string>
				<key>poi_name</key>
				<string>摩登芝士咖啡馆</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>像王一样用餐考究的下午茶</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/240857bc-cde1-485c-a808-41afaedd2ace</string>
				<key>fav_count</key>
				<string>246</string>
				<key>poi_name</key>
				<string>王的下午茶</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>关于爱与梦想的杯子蛋糕家</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/add662ea-9d32-4723-bbf4-badb146d6cb1</string>
				<key>fav_count</key>
				<string>981</string>
				<key>poi_name</key>
				<string>杯子蛋糕家Cupcake Philosopher</string>
			</dict>
			<dict>
				<key>section_title</key>
				<string>全职妈妈的爱心私家下午茶点</string>
				<key>imageURL</key>
				<string>http://img.chengmi.com/cm/cdd71fd6-46e7-49bd-bf53-46853f184938</string>
				<key>fav_count</key>
				<string>436</string>
				<key>poi_name</key>
				<string>Ivy&apos;s Bakery</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
