<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<string>07-08</string>
		<key>message</key>
		<string>你关注的特色标签【露台】有10个更新，最具情调的帝都露台消夏全攻略</string>
	</dict>
	<dict>
		<key>date</key>
		<string>07-09</string>
		<key>message</key>
		<string>你关注的特色标签【烧烤】有22个更新，最具情调的上海露吃火锅攻略</string>
	</dict>
	<dict>
		<key>date</key>
		<string>07-12</string>
		<key>message</key>
		<string>你关注的特色标签【吃着火锅唱着歌】有11个更新，最具激情的深圳野外露天烧烤消夏全攻略，KJSHFNNSNSJSHAHHADH，扎啤jiu，点击查看详细</string>
	</dict>
</array>
</plist>
